﻿@model PetShopWeb.Models.Pet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccommodationId" class="control-label"></label>
                <select asp-for="AccommodationId" class="form-control" asp-items="ViewBag.AccommodationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReasonHospitalization" class="control-label"></label>
                <input asp-for="ReasonHospitalization" class="form-control" />
                <span asp-validation-for="ReasonHospitalization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusCurrentHealth" class="control-label"></label>
                <select asp-for="StatusCurrentHealth" asp-items="Html.GetEnumSelectList(typeof(PetShopWeb.Enums.StatusCurrentHealthEnum))" class="form-control"></select>
                <span asp-validation-for="StatusCurrentHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photograph" class="control-label"></label>
                <input asp-for="Photograph" class="form-control" />
                <span asp-validation-for="Photograph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
